.display-post-container {
    color: white;
    border-bottom: 1px solid white;
}

.name-container {
    display: flex;
    justify-content: flex-start;
}

.profile-picture-icon {
    width: 3vw; 
    height: 5vh;
    border-radius: 20px;
}