.edit-profile-form {
    border: 1px solid white
}

.edit-profile-button {
	border: 1px solid white;
	background-color: black;
	border-radius: 1em;
	cursor: pointer;
	padding: 0.8em 1.2em 0.8em 1em;
	transition: all ease-in-out 0.2s;
	font-size: 16px;
	color: white;
}

.image-container:hover {
	border: 1rem solid #262626;
}

.image-container-selected {
	border: 1rem solid #262626;
	outline: 1px solid #00ff00;
}

/* .image-container:active {
	border-color: green;
} */