.edit-profile-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 70vh;
	border: 1px solid white;
}

.edit-profile-button {
	border: 1px solid white;
	background-color: black;
	border-radius: 1em;
	cursor: pointer;
	padding: 0.8em 1.2em 0.8em 1em;
	transition: all ease-in-out 0.2s;
	font-size: 16px;
	color: white;
}

.image-container:hover {
	border: 1rem solid #262626;
}

.image-container-selected {
	border: 1rem solid #262626;
	outline: 1px solid #00ff00;
}

.profile-picture-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
	width: 40vw;
}
/* .image-container:active {
	border-color: green;
} */
