.icons-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 6rem;
    margin-right: 6rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons {
    color: white;
    height: 2rem;
    width: 2rem;
}

.nav-text {
    color: white;
}