.name-container {
	display: flex;
	justify-content: flex-start;
	border-top: 1px solid gray;
}

.display-post-container {
	color: white;
	border-bottom: 1px solid gray;
	cursor: pointer;
	padding: 10px;
}

.profile-picture-icon {
	width: 3vw;
	border-radius: 20px;
	max-width: 100%;
}

.reply-icon {
	fill: #aab8c2;
}

.reply-icon:active {
	opacity: 0.5;
}

.post-reaction-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-post-container {
	cursor: pointer;
	color: white;
}

@media screen and (max-width: 768px) {
	.post-container {
		width: 75vw;
	}

	.post-item-container {
		width: 75vw;
	}
}